<h1><%= @page.friendly_slug %></h1>

<%= form_for(@page, url: admin_update_page_path(slug: @page.slug)) do |f| %>

  <div class="form-item">
    <%= f.text_area :body, class: 'input--textarea' %>
  </div>


  <%= f.submit 'Save', class: 'button' %>
<% end %>
