<h1>Pages</h1>

<ul>
  <li><%= link_to 'Meal Prep', admin_page_path(slug: 'meal-prep') %></li>
  <li><%= link_to 'Parties', admin_page_path(slug: 'parties') %></li>
  <li><%= link_to 'Pricing', admin_page_path(slug: 'pricing') %></li>
  <li><%= link_to 'About', admin_page_path(slug: 'about') %></li>
</ul>
