<div class="meals">
  <h1>meal instructions</h1>
  <label for="meal-search" class="sr-only">meal search</label>
  <input id="meal-search" type="text" placeholder="start typing a meal...">
</div>

<script>
  $('#meal-search').autocomplete({
    lookup: <%= raw @meals.to_json %>,
    triggerSelectOnValidInput: false,

    onSelect: function (suggestion) {
      window.location.href = `/instructions/${suggestion.data}`;
    }
});
</script>