<div class="meal">
  <div class="meal__header">
    <h1><%= @meal.name %></h1>

    <div>
      <%= link_to 'Back to Instructions', instructions_path(slug: params[:slug]) %>
    </div>
  </div>

  <div>
    <%= @instructions.html_safe %>
  </div>
</div>
