<div class="bg-gray-50 py-14 sm:py-24 px-5 sm:px-20 flex flex-col items-center bg-cover bg-center" style="background-image: url(<%= image_url('bg-cta.jpg') %>)">
  <div class="mb-10">
    <%= image_tag 'logo-circle.png', class: 'w-16 sm:w-24' %>
  </div>

  <p class="text-center mb-10 font-heading text-2xl sm:text-3xl font-bold max-w-2xl">
    Setup a private dinner party for a special occasion or simply a reason to drink.
  </p>

  <a href="/contact" class="bg-black rounded-full py-5 px-8 text-white">
    Book a Dinner
  </a>
</div>