<div class="px-5 pt-32 pb-14 md:pb-24 md:px-24 max-w-7xl mx-auto" id="services">
  <div class="max-w-3xl mx-auto mb-16">
    <h2 class="font-heading text-3xl lg:text-5xl font-bold text-center mb-4">Customized Culinary Services</h2>
    <p class="text-center text-lg font-light">Lemon&Basil offers a range of culinary services, including in-home meal prep, private dinner parties, and popup lunch kits. With our expert chef, Elizabeth Hackett, you can enjoy delicious and personalized meals in the comfort of your own home.</p>
  </div>

  <div class="mb-16 flex flex-col lg:grid lg:grid-cols-3 gap-20">
    <div class="flex flex-col items-center text-center">
      <%= image_tag 'icon-fork-spoon.svg', class: 'max-w-[40px] mb-3' %>
      <h3 class="font-heading text-2xl font-bold mb-4">In-Home Meal Prep</h3>
      <p class="font-light">Let us take care of your meal planning, grocery shopping, and cooking, so you can enjoy healthy and flavorful meals without the hassle.</p>
    </div>

    <div class="flex flex-col items-center text-center">
      <%= image_tag 'icon-lid.svg', class: 'max-w-[40px] mb-3' %>
      <h3 class="font-heading text-2xl font-bold mb-4">Private Dinner Parties</h3>
      <p class="font-light">Host an unforgettable dinner party with our chef's exquisite menu and impeccable service, creating a memorable experience for you and your guests.</p>
    </div>

    <div class="flex flex-col items-center text-center">
      <%= image_tag 'icon-bread.svg', class: 'max-w-[40px] mb-3' %>
      <h3 class="font-heading text-2xl font-bold mb-4">Popup Lunch Kits</h3>
      <p class="font-light">Enjoy a delicious and convenient lunch with our pre-packaged lunch kits, filled with fresh and flavorful ingredients.</p>
    </div>
  </div>

  <div class="flex justify-center">
    <a href="#contact" class="bg-olive rounded-full py-2 px-5 text-white">
      Send a Message
    </a>
  </div>
</div>