<div class="bg-[#f6f8e9] py-8 px-5 sm:px-20 flex justify-between items-center border border-t-[#EEF0E1]">
  <div class="flex gap-2 items-center">
    <div>
      <%= image_tag 'logo-circle.png', class: 'w-8' %>
    </div>

    <div class="font-heading text-lg">lemon&basil</div>
  </div>

  <div class="text-xs text-gray-400">
    © <%= Time.now.year %>. All rights reserved.
  </div>
</div>