<div class="bg-gray-50 py-14 sm:py-24 px-5 sm:px-20 flex flex-col gap-3 items-center bg-cover bg-center" style="background-image: url(<%= image_url('bg-footer.jpg') %>)">
  <div>
    <%= image_tag 'logo-circle.png', class: 'w-14' %>
  </div>

  <div class="font-heading text-lg">lemon&basil</div>

  <div class="text-xs text-gray-400">
    © <%= Time.now.year %>. All rights reserved.
  </div>
</div>