<div class="-translate-y-20 transition-transform fixed w-full bg-white border border-b-slate-100" id="header-fixed">
  <%= render 'layouts/header' %>
</div>

<div class="w-full bg-beige">
  <%= render 'layouts/header' %>
</div>