<div class="page page--contact">
  <div class="primary">
    <h1>job application</h1>

    <p>Thanks! I'll get back to you as soon as I can 🤗</p>
  </div>

  <div class="secondary">
    <div class="page-image page-image-job-apply"></div>
  </div>
</div>