<div class="page">
  <div class="primary">
    <h1>The Lemons & Basils <br>of it all</h1>
    <p>My culinary career started with classical Italian education and restaurant work in Northern Italy. Upon returning to the States I had the valuable experience of cooking for recovering patients with special dietary needs, which is when I began to think about food as medicine and learned how to utilize healing properties of certain ingredients. After that I worked in a Chicago scratch kitchen where we prepared gourmet ready-to-heat meals every day. I later spent some time in Northern California cooking in a kitchen dedicated to making healthy, organic foods a quick and convenient option. My most recent gig as the personal chef for a Chicago start-up allowed me to create a fun, fresh, and seasonal menu for 30+ people each day. I catered to vegetarian, GF, and paleo diets and never repeated a meal unless requested!</p>
    <p>My cooking style combines these various experiences with the intention of serving original, comforting, fresh, and beautiful dishes. In addition to my passion for food professionally it's also my number one hobby. Cooking for other people brings me so much joy!</p>
  </div>

  <div class="secondary">
    <div class="page-image page-image-about"></div>
  </div>
</div>
