<h1>About Me</h1>

<h2>Tasty things happen...</h2>

<p>I'd say my culinary creations pull from early memories of my half Irish half Italian roots, and tie into new experiences I've had with food; thus creating an astronomical collision of time and space as we know it. Just kidding. But it is true that playing around with personally nostaligic meals and current food trends is a lot of fun. Tasty things happen.</p>
<p>My career started with classical Italian education and restaurant work. Upon returning to the States I had the valuable experience of cooking for recovering patients with special dietary needs which is when I began to think about food as medicine and learned to fully utilize natural nutrients. Later on I found myself inside Real Kitchen Chicago where we prepared and packaged ready-to-heat items from scratch each day. After that I spent some quality time cooking at Farm Hill in Silicon Valley where dedication to using whole, organic foods and making meals convenient is the mission.</p>
<p>My most recent gig as a personal chef allowed me to make fun, fresh, and seasonal lunches for Chicago's Popular Pays team every day. I catered to vegetarian, GF, and low-cal diets and never repeated a meal (unless requested!). </p>
<p>In addition to my passion for food professionally it's also my number one hobby. Cooking for other people makes me tick. </p>
