<div id="calendar"></div>

<script type="text/javascript">
  const element = document.getElementById('calendar');
  
  this.calendar = new FullCalendar.Calendar(element, {
    initialView: 'dayGridMonth',
    eventSources: [
      {
        url: '/api/events'
      }
    ]
  });

  this.calendar.render();
</script>
