<div class="page page--home">
  <div class="primary">
    <h1>SIMPLIFIED. CUSTOMIZED. FOOD.</h1>
    <p>My goal is to work together with you to help alleviate the stresses that planning and prepping and cooking can bring. Every family is different, so together we’ll customize a plan to fit your needs.</p>
  </div>

  <div class="secondary">
    <div class="page-image page-image-home"></div>
  </div>
</div>
