<h1>In-Home Meal Prep</h1>

<h2>Simplified. Customized. Food.</h2>
<p>What I do: Consult with you on which plan and menu items are your best options, grocery shop, cook all meals in your kitchen, label and store food, deep clean, then leave you to eat and enjoy!</p>
<p>What you do: Decide whether you want a weekly or monthly cook date, choose menu items, sit back, chill out and eat delicious food!</p>
<p>Catered Events: All of my menu items can be transformed into fun little party bites or family style dishes for intimate dinner parties and events up to 50 people. Tell me your color scheme or theme and I'll provide food labels, flowers, cupcakes etc. so you don't have to stress. If you're feeling saucy, I'll whip up a signature cocktail and a tasty playlist to reflect the cuisine! </p>
