<div class="page page--meal-prep">
  <div class="primary">
    <h1>Simplified. Customized. Food.</h1>

    <p>What I do: Learn about your needs, menu plan, grocery shop, cook all meals in your kitchen, label and store food, deep clean, then leave you to enjoy!</p>
    <p>What you do: Decide on a weekly or monthly cook date & choose your menu items.</p>
    <p>Extras: We can talk about adding breakfast jars, healthy snacks & kid’s lunches to help you stay on track as much as possible throughout your busy week.</p>
    <p>My goal is to work together with you to help alleviate the stresses that planning and prepping and cooking can bring. Every family is different, so together we’ll customize a plan to fit your needs.</p>
    <p>My costs, like my menus, are approachable. I charge a grocery shop deposit + my hourly rate so you always know exactly where every dollar goes. If you have a budget, let me know what it is and I will work with you to make it happen the best I can.</p>
  </div>

  <div class="secondary">
    <div class="page-image page-image-meal-prep"></div>
  </div>
</div>
