<div class="page">
  <div class="primary">
    <%= @page.body.html_safe %>
  </div>

  <div class="secondary">
    <div class="page-image page-image-parties"></div>

    <p class="p--eco">
      I put a big emphasis on using eco-friendly packaging and materials and will begin composting Fall 2020.
    </p>
  </div>
</div>
