<div class="page">
  <div class="primary">
    <section>
      <h1>In-home cooking parties</h1>
      <p>Gather a small group of friends or family in your home to hang out and socialize while learning a new culinary skill together! We will work on the recipes together and then you and your guests are free to enjoy the fruits of your labor while I clean up.</p>
      <p>All classes are customizable with a focus on seasonal ingredients. Some themes include; kitchen basics, holiday appetizers, hand-made pasta, sauces, pizza, kid’s snacks, grazing boards, sandwiches and more! I can happily pair wine or cocktails to compliment the menu. </p>
      <p>For a seated cooking/dinner party option, we’ll make the majority of a recipe together, then I’ll plate, serve, and clean up while you and your guests eat and enjoy your collaborated meal around the table.</p>
      <p>You’ll leave these parties with new ideas, fresh perspectives on food combinations, and beautiful presentation skills.</p>
    </section>

    <section>
      <h1>Meal prep parties</h1>
      <p>These parties are great way to socialize with some friends while splitting a week’s worth of meal prep between one another. I will help guide your group through customizing a week’s menu that works for everyone. I’ll grab the groceries, prepare stations, and walk everyone through their prep work. After a couple hours everyone will go home with 5 meals ready to heat after a busy day. You will have learned some new things and meal-prepped your whole week all while enjoying the company of friends/family.</p>
    </section>

    <section>
      <h1>Catered Events</h1>
      <p>All of my menu items can be transformed into fun little party bites or family style dishes for intimate dinner parties and events up to 50 people.</p>
    </section>
  </div>

  <div class="secondary">
    <div class="page-image page-image-parties"></div>

    <p class="p--eco">
      I put a big emphasis on using eco-friendly packaging and materials and will begin composting Fall 2020.
    </p>
  </div>
</div>
