* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $admin-font;
}

body {
  display: flex;
  font-weight: 300;
}

main {
  padding: 40px 40px;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

h1, h2 {
  font-family: $admin-header-font;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.capitalize {
  text-transform: capitalize;
}
