.rows {
  max-width: 800px;
}

.row {
  display: flex;
  align-items: center;
  padding: 12px;
  border: solid $gray-light 1px;
  justify-content: space-between;
  background: $white;

  &__name {
    font-size: 15px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__move {
    margin-right: 10px;
    opacity: 40%;
    cursor: grab;
  }

  &__items {
    font-size: 16px;
    font-weight: normal;
  }
}
