.sidebar {
  background: $black;
  padding: 40px;
  width: 100%;

  &__control {
    color: $white;
    position: absolute;
    right: 40px;
    width: 30px;
    height: 14px;
    top: 46px;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 2px;
      background: $white;
      box-shadow:
        0 6px 0 0 $white,
        0 12px 0 0 $white;
    }
  }

  #sidebar_menu {
    display: none;
  }

  #sidebar_menu:checked ~ nav {
    display: block;
  }

  a {
    color: $white;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }

  .logo {
    text-decoration: none;
    display: inline-block;
    text-transform: lowercase;
    font-family: $secondary-font;
    font-size: 22px;

    &:hover {
      text-decoration: none;
    }

    span {
      font-size: 16px;
      color: #999;
    }
  }

  nav {
    display: none;
    margin-top: 40px;

    ul {
      margin: 0;
    }

    a {
      display: inline-block;
      padding: 4px 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .sidebar {
    height: 100vh;
    width: 300px;

    nav {
      display: block;
    }

    &__control {
      display: none;
    }
  }
}
