.sidebar {
  height: 100vh;
  width: 300px;
  background: $black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: $white;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }

  .logo {
    text-decoration: none;
    display: inline-block;
    text-transform: lowercase;
    font-family: $secondary-font;
    font-size: 22px;
    margin-bottom: 40px;

    &:hover {
      text-decoration: none;
    }

    span {
      font-size: 16px;
      color: #999;
    }
  }

  nav {
    ul {
      margin: 0;
    }

    a {
      display: inline-block;
      padding: 4px 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
