.submission {
  &__header {
    margin-bottom: 50px;
  }

  &__total {
    font-size: 32px;
    margin-bottom: 6px;
  }

  &__date {
    color: #7c7c7c;
  }

  &__category-group {
    margin-bottom: 60px;

    h2 {
      font-size: 22px;
      margin-bottom: 5px;
    }
  }

  &__item {
    margin-bottom: 20px;

    strong {
      margin-left: 6px;
    }
  }

  &__item-name {
    font-size: 18px;
    margin-bottom: 2px;
  }

  &__item-description {
    font-size: 15px;
    color: #7c7c7c;
    width: 70ch;
    line-height: 20px
  }

  &__notes-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }

  &__notes-value {
    line-height: 20px;
    max-width: 75ch;

    p {
      margin-bottom: 16px;
    }
  }
}

.staples-results {
  margin-bottom: 20px;

  hr {
    border: 0;
    border-bottom: solid 1px #eee;
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 4px 20px;
  }

  &__main-header {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 16px;
  }

  &__category,
  &__sub-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
  }

  &__section {
    margin-bottom: 20px;
  }

  &__staple.selected {
    color: green;
  }

  &__staple.not-selected {
    color: red;
  }
}
