.submission {
  &__header {
    margin-bottom: 50px;
  }

  &__total {
    font-size: 32px;
    margin-bottom: 6px;
  }

  &__date {
    color: #7c7c7c;
  }

  &__category-group {
    margin-bottom: 60px;

    h2 {
      font-size: 22px;
      margin-bottom: 16px;
    }
  }

  &__item {
    font-size: 18px;
    margin-bottom: 12px;

    strong {
      margin-left: 6px;
    }
  }
}
