.client-menu-item {
  margin-bottom: 30px;
  font-weight: 300;
  display: flex;

  &__row {
    display: flex;
    margin-bottom: 5px;
    align-items: baseline;
  }

  &__cost {
    font-weight: bold;
    font-size: 18px;
  }

  &__description {
    font-size: 15px;
    color: #7c7c7c;
    width: 70ch;
    line-height: 20px;
  }

  &__label {
    font-size: 18px;
    line-height: 22px;
    margin-right: 20px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    margin-right: 30px;
  }

  input[type="checkbox"]:before {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px black;
    background: white;
    cursor: pointer;
  }

  input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    background: black;
    top: -19px;
    left: 5px;
    border: solid 2px black;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .client-menu-item {
    &__description {
      width: 100%;
    }
  }
}
