.client-menu {
  padding-bottom: 100px;

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: solid #f5f5f5 1px;

    .logo {
      color: #999;
      font-weight: 300;
    }
  }

  &__due-at {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  &__client-name {
    font-weight: bold;
    font-size: 32px;
    font-family: $secondary-font;
  }

  &__category-section {
    margin-bottom: 60px;
    flex: 1 1 500px;
  }

  &__category {
    margin-bottom: 30px;
  }

  &__category-name {
    margin-bottom: 3px;
  }

  &__category-description {
    font-size: 17px;
    color: #7c7c7c;
    font-weight: 300;
  }

  &__notes {
    margin-bottom: 60px;
  }

  &__notes-label {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 6px;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .client-menu {
    header {
      display: block;
      padding-bottom: 0;

      .logo {
        display: none;
      }
    }

    &__meta {
      text-align: left;
      padding-top: 3px;
      padding-bottom: 20px;
    }
  }
}
