.client-menu-item {
  margin-bottom: 30px;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  gap: 14px;

  &__row {
    display: flex;
    margin-bottom: 5px;
    align-items: baseline;
  }

  &__cost {
    font-weight: bold;
    font-size: 18px;
  }

  &__description {
    font-size: 15px;
    color: #7c7c7c;
    width: 70ch;
    line-height: 20px;
  }

  &__label {
    font-size: 18px;
    line-height: 22px;
    margin-right: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .client-menu-item {
    gap: 24px;

    &__description {
      width: 100%;
    }
  }
}
