<div class="bg-gray-50 p-8 rounded-2xl">
  <div class="text-sm mb-5">
    "<%= quote %>"
  </div>

  <div class="flex gap-2 items-center">
    <div>
      <%= image_tag 'heart.png', class: 'w-5' %>
    </div>

    <div class="font-bold text-sm">
      <%= name %>
    </div>
  </div>
</div>