<div class="meals">
  <h1>meal instructions</h1>
  <input id="autocomplete" type="text" placeholder="start typing a meal...">
</div>

<script>
  $('#autocomplete').autocomplete({
    lookup: <%= raw @meals.to_json %>,

    onSelect: function (suggestion) {
      window.location.href = `/meals/${suggestion.data}`;
    }
});
</script>