<div class="page page--contact">
  <div class="primary">
    <h1>you're waitlisted!</h1>

    <p>Thanks, we'll get back to you with more details as soon as possible.</p>
  </div>

  <div class="secondary">
    <div class="page-image page-image-waitlist-apply"></div>
  </div>
</div>