<%= turbo_frame_tag 'modal' do %>
  <%= render 'shared/modal' do %>
    <h2>Menu Item</h2>

    <%= render 'form', url: admin_client_menu_item_path(@client_menu, @client_menu_item) %>
  <% end %>
<% end %>