<%= javascript_pack_tag 'client/menu' %>

<div id="client-menu-app">
  <client-menu-app
    :sections="<%= @sections.to_json %>"
    menu-id="<%= @menu_id %>"
    token="<%= @token %>"
  ></client-menu-app>
</div>
