<div class="admin-header">
  <h1>Menu: <%= @category.name %></h1>
  <p><%= link_to '+ Add Menu Item', new_admin_menu_path(category_id: @category.id) %></p>
</div>

<% if @menus.any? %>
<div class="categories">
  <% @menus.each do |menu| %>
  <div class="category">
    <div class="category__section">
      <div class="category__move move"></div>

      <div class="category__name">
        <%= link_to menu.name, edit_admin_menu_path(menu, category_id: @category.id) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% else %>
  <p>Add the first menu item now, ya dingas!</p>
<% end %>
