<div class="sortable-list" id="categories_list">
  <% categories.each do |category| %>
    <div class="sortable-item" data-category-id="<%= category.id %>">
      <div class="sortable-item__move">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <%= render 'admin/client_menus/category',
          category: category,
          client_menu: client_menu
      %>
    </div>
  <% end %>

  <script>
    var url = '<%= admin_client_menu_update_category_weights_path(client_menu) %>';

    $('.sortable-list').sortable({
      handle: '.sortable-item__move',

      update: function() {
        const weights = $('[data-category-id]').map(function() {
          return $(this).data('category-id');
        }).get();

        $.ajax({
          url: url,
          method: 'POST',
          data: { weights: weights }
        });
      }
    });
  </script>
</div>
