<div class="menu-header">
  <div class="menu-header__name">
    <%= @client_menu.client.full_name %>
  </div>

  <% if @client_menu.job_date.present? %>
    <div class="menu-header__date">
      <%= l(@client_menu.job_date, format: :full_month) %>
    </div>
  <% end %>
</div>
