<%= turbo_frame_tag 'modal' do %>
  <%= render 'shared/modal' do %>
    <div class="admin-header">
      <h1>Edit Client Menu</h1>
    </div>

    <%= render 'form', turbo_frame: 'modal' %>
  <% end %>
<% end %>