<div class="admin-header">
  <h1>Client Menus</h1>
  <p><%= link_to '+ Add Client Menu', new_admin_client_menu_path, class: 'link--control' %></p>
</div>

<div class="rows">
  <% @client_menus.each do |client_menu| %>
  <div class="row">
    <div class="row__name">
      <%= link_to edit_admin_client_menu_path(client_menu) do %>
        <strong><%= client_menu.client.full_name %>:</strong> <%= client_menu.created_at.strftime("%b %d %Y") %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
