<%= render 'admin/client_menus/show/header' %>
<%= render 'admin/client_menus/show/nav' %>

<div class="menu-body">
  <% if @client_menu.newest_submission.present? %>
    <%= render 'submission',
        client_menu: @client_menu,
        submission: @client_menu.newest_submission
    %>
  <% else %>
    <div class="empty">
      <div class="empty__text">
        The client has not made selections yet.
      </div>
    </div>
  <% end %>
</div>
