<%= javascript_pack_tag 'admin/client_menu' %>

<div id="client-menu-app">
  <client-menu-app
    v-bind:clients="<%= @clients.to_json %>"
    menu-id="<%= @client_menu_id %>"
    token="<%= @token %>"
  ></client-menu-app>
</div>
