<div class="w-full bg-beige">
  <header class="px-5 md:px-24 py-4 flex justify-between items-center max-w-7xl mx-auto">
    <a href="/" class="flex gap-3 items-center">
      <%= image_tag 'logo-circle.png', class: 'w-[40px]' %>

      <span class="font-heading text-lg mt-1">lemon&basil</span>
    </a>
  </header>
</div>

<div class="w-full h-screen bg-beige">
  <div class="px-5 pt-14 pb-14 md:pb-24 md:px-24 max-w-7xl mx-auto lg:grid grid-cols-2 gap-20 items-center">
    <div>
      <div class="mb-12 max-w-sm sm:max-w-xl">
        <h1 class="text-3xl font-heading tracking-tightx sm:leading-[52px] font-bold mb-2 sm:text-5xl">
          Thank you!
        </h1>

        <p class="max-w-lg text-lg font-light">
          You will receive a response shortly.
        </p>
      </div>
    </div>
  </div>
</div>