.form {
  margin: 0 auto;
  max-width: 500px;
}

.input--text {
  border: solid $gray-medium 2px;
  padding: 10px;
  display: block;
  max-width: 500px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Open Sans';

  &:focus {
    outline: none;
  }
}

.input--textarea {
  border: solid $gray-medium 2px;
  padding: 10px;
  display: block;
  max-width: 1000px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  height: 400px;
  box-sizing: border-box;
  font-family: 'Open Sans';

  &:focus {
    outline: none;
  }
}

.input--select {
  border: solid $gray-medium 2px;
  padding: 10px;
  display: block;
  max-width: 500px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

.label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.form-item {
  margin-bottom: 20px;
}

.form-actions {
  display: flex;
  align-items: center;
  margin-top: 40px;

  > * {
    margin-right: 20px;
  }
}

.button {
  background: $primary;
  color: $white;
  border: none;
  padding: 7px 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: solid 3px darken($primary, 7%);
  display: inline-block;

  &:hover {
    background: lighten($primary, 5%);
    text-decoration: none;
  }
}

.actions {
  margin-bottom: 20px;
}

.admin {
  h1 {
    font-family: 'Open Sans';
    text-transform: capitalize;
    font-weight: 300;

    a {
      text-decoration: none;
      box-shadow: inset 0 -3px 0 #ccc;
      padding-bottom: 3px;
    }
  }

  ul {
    margin-left: 20px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($black, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  span {
    font-size: 20px;
    background: #666;
    color: $white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
  }
}

.fc-day {
  cursor: pointer;
}

.hint {
  margin-bottom: 40px;

  a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: pink;
    }

    strong {
      font-size: 26px;
    }
  }
}

.field_with_errors {
  color: $red;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.move {
  width: 16px;
  height: 16px;
  background: asset-url('move.svg') no-repeat top left;
  background-size: contain;
}

.link {
  &--control {
    text-decoration: none;
    box-shadow: inset 0 -3px 0 #ccc;
    padding-bottom: 5px;
  }

  &--danger {
    color: $red;
  }
}

.sort-status {
  position: absolute;
  margin-top: -30px;
  font-weight: bold;
}

.rows {
  max-width: 800px;
}

.row {
  display: flex;
  align-items: center;
  padding: 15px;
  border: solid $gray-light 1px;
  justify-content: space-between;
  background: $white;
  font-weight: normal;

  &__name {
    font-size: 18px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__move {
    margin-right: 10px;
    opacity: 40%;
    cursor: grab;
  }

  &__items {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
