@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
}

main {
  height: 100%;
  max-width: $main-max-width;
  margin: 0 auto;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.p--eco {
  background: image-url('plant.png') left top no-repeat;
  background-size: 40px;
  padding-left: 54px;
  font-size: 16px;
}

a {
  color: inherit;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Quicksand';
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  margin-bottom: 20px;
}

.content {
  height: 100%;
  padding: 100px 1em 1em 1em;
}
