@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: $primary-font, 'Arial';
}

main {
  height: 100%;
  max-width: $main-max-width;
  margin: 0 auto;
}

p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 24px;
  margin-bottom: 20px;
}

.p--eco {
  background: image-url('plant.png') left top no-repeat;
  background-size: 40px;
  padding-left: 54px;
  font-size: 16px;
}

a {
  color: inherit;
}

h1 {
  margin-bottom: 20px;
  font-family: $secondary-font;
  text-transform: lowercase;
  line-height: 1.5em;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  margin-bottom: 20px;
  font-family: $secondary-font;
}

.content {
  height: 100%;
  padding: 30px 1em 1em 1em;

  ul, ol {
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}