@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Quicksand';
}

main {
  height: 100%;
  max-width: $main-max-width;
  margin: 0 auto;
}

p {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

a {
  color: inherit;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

.content {
  height: 100%;
  padding: 100px 1em 1em 1em;
}
