.form {
  max-width: 500px;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input--text,
.textarea {
  border: solid #999 1px;
  padding: .75em;
  width: 100%;
  font-size: 1em;
  font-family: $font;
  font-weight: 500;
}

.textarea {
  height: 150px;
}

.form-item {
  margin-bottom: 20px;
}

.button {
  background: $black;
  padding: .75em;
  color: $white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

label.error {
  color: red;
  padding-top: 5px;
  display: block;
}
