.pagination {
  display: flex;
  padding: 15px 0;

  a {
    display: inline-block;
    padding: 0 5px;
  }

  .current {
    text-decoration: underline;
    display: inline-block;
    padding: 0 5px;
  }
}