.page {
  section {
    margin-bottom: 60px;
  }

  .secondary {
    padding-bottom: 1em;
  }

  &--center {
    text-align: center;
  }

  &--contact-success {
    padding-top: 60px;
  }

  &--meal-prep {
    h1 {
      max-width: 300px;
    }
  }
}

.page-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1em;
}

.page-image-meal-prep {
  background-image: image-url('meal-prep.jpg');
}

.page-image-parties {
  background-image: image-url('parties.jpg');
}

.page-image-about {
  background-image: image-url('birdie.jpg');
  background-position: 0 -30px;
}

.page-image-contact {
  background-image: image-url('caprese.jpg');
}

@media screen and (min-width: 800px) {
  .page {
    display: flex;
    justify-content: space-between;

    .primary {
      flex-basis: 60ch;
    }

    .secondary {
      flex-basis: 400px;
      margin-left: 40px;
    }

    &--center {
      display: block;
    }

    &--meal-prep {
      h1 {
        max-width: 100%;
      }
    }
  }

  .page-image {
    width: 500px;
    height: 500px;
    margin-bottom: 1em;
  }

  .page-image-about {
    background-image: image-url('birdie.jpg');
  }
}
