$black: #000;
$white: #fff;
$main-max-width: 1200px;

$gray-dark: #333;
$gray-medium: #ccc;
$gray-light: #eee;
$gray-lightest: #f9f9f9;
$white: #fff;
$black: #000;
$red: #ff4f4f;
$green: #44a944;

$primary: #000;
$secondary: #8e44ad;
$error: #e74c3c;

$primary-font: 'Helvetica';
$secondary-font: 'ITC Avant Garde';
$admin-font: 'Helvetica';
