<%= turbo_frame_tag 'modal' do %>
  <%= render 'shared/modal' do %>
    <h2>Staple Category</h2>

    <%= render 'form', url: admin_client_menu_staple_category_path(@client_menu, @staple_category) %>
  <% end %>
<% end %>