<header>
  <div class="logo">Lemon&Basil</div>

  <input type="checkbox" id="nav-input" class="nav-input">
  <label for="nav-input" class="nav-toggle">
    <span></span>
  </label>

  <nav>
    <ul>
      <li><a href="">How it Works</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Menus</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</header>
