<header class="px-5 md:px-24 pt-16 flex justify-between items-center max-w-7xl mx-auto">
  <a href="/" class="font-heading text-lg flex gap-3 items-center">
    <%= image_tag 'logo-circle.png', class: 'w-[40px]' %>

    <span>lemon&basil</span>
  </a>

  <div class="relative" x-data="{ open: false }" @click.outside="open = false">
    <div class="w-8" @click="open = !open">
      <div class="h-[2px] bg-black mb-2"></div>
      <div class="h-[2px] bg-black mb-2"></div>
      <div class="h-[2px] bg-black"></div>
    </div>

    <div class="absolute bg-white p-5 w-52 right-0 mt-4 rounded-lg space-y-4" x-show="open" x-cloak>
      <div><a href="">How it Works</a></div>
      <div><a href="">About Birdie</a></div>
      <div><a href="" class="bg-black rounded-full py-2 px-5 text-white inline-block">Book a Dinner</a></div>
    </div>
  </div>
</header>