<header class="px-5 md:px-24 pt-8 flex justify-between items-center max-w-7xl mx-auto">
  <a href="/" class="flex gap-3 items-center">
    <%= image_tag 'logo-circle.png', class: 'w-[50px]' %>

    <span class="font-heading text-lg mt-1">lemon&basil</span>
  </a>

  <div class="hidden lg:flex gap-9 items-center">
    <div><a href="#services">Services</a></div>
    <div><a href="#contact" class="bg-black rounded-full py-2 px-5 text-white inline-block">Send a Message</a></div>
  </div>

  <div class="lg:hidden relative" x-data="{ open: false }" @click.outside="open = false">
    <div class="w-8 cursor-pointer" @click="open = !open">
      <div class="h-[2px] bg-black mb-2"></div>
      <div class="h-[2px] bg-black mb-2"></div>
      <div class="h-[2px] bg-black"></div>
    </div>

    <div class="absolute bg-white p-5 w-52 right-0 mt-4 rounded-lg space-y-4 shadow-md" x-show="open" x-cloak>
      <div><a href="#services">Services</a></div>
      <div><a href="" class="bg-black rounded-full py-2 px-5 text-white inline-block">Send a Message</a></div>
    </div>
  </div>
</header>